* {
  margin: 0;
  padding: 0;
}

/*! App */

.background-main {
  background-color: #555;
  width: 100%;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
}

/*! Header */

.background-header {
  background-color: #999;
  padding-inline: 200px;
  padding-block: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-login-btn {
  transition: all 0.3s ease-in-out;
  background-color: black;
  color: green;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding-block: 10px;
  padding-inline: 25px;
  text-decoration: none;
}
.header-login-btn:hover {
  transition: all 0.3s ease-in-out;
  color: black;
  background-color: green;
}

.header-btns {
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  list-style-type: none;
}

.header-btns li {
  margin-inline: 15px;
}

.logout-btn {
  color: #222;
  text-decoration: none;
}

.articles-btn {
  color: #222;
  text-decoration: none;
}

.home-btn {
  color: #222;
  text-decoration: none;
}

.logout-btn:hover {
  transition: all 0.3s ease-in-out;
  color: red;
}

.articles-btn:hover {
  transition: all 0.3s ease-in-out;
  color: green;
}

.home-btn:hover {
  transition: all 0.3s ease-in-out;
  color: #ddd;
}

/*! Home */

.home-background {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

h3 {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! Login */

.login-background {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: green;
  border-radius: 15px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 15px;
}

.text-input {
  background-color: green;
  width: 75%;
  height: 30px;
  border-radius: 10px;
  margin-top: 3%;
  border: solid 1px black;
  margin-inline: 25px;
  padding-left: 5px;
  color: #ddd;
  font-weight: 700;
  font-size: 0.9rem;
}

.text-input::placeholder {
  color: black;
  margin-left: 5px;
}

.btn-container {
  text-align: center;
}

.btn {
  transition: all 0.3s ease-in-out;
  background-color: black;
  color: green;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding-block: 10px;
  width: 20%;
  margin-top: 3%;
}

/*! Articles */

.articles-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #444;
  color: #fff;
  margin: 10px;
}

.article:hover {
  background-color: #888;
  color: #ddd;
}
